.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.profile-content{
  width: 80%;;
}
svg {
  color:#ccc;
  width: 6rem;;
}
.item svg:hover{
  color:#82ce85;
}
.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}
.subtitle-item {
  height: 5rem;
  padding-top: 2rem;
  color: #777;
  font-size: 1.7rem;
}
.value-item {
  color: #333;
    font-size: calc(.5rem + 6vmin);
    height: 7rem;
    font-weight: 500;
}
.profile-img-div{
  background-color:white;
  height: 10rem;
  margin: 0 auto;
  padding: 0.5rem;
  border: 1px solid #bbb;
  border-radius: 50%;
  width: 10rem;
}
.profile-img-div img{
  height: 10rem;
  width: 10rem;
}
.profile-img-div::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: .01rem;
  background-color: #bbb;
  z-index: -1;
}
.navbar {
  display: flex;
  justify-content: center;
  padding-top:4rem;
  width: 100%;
  column-gap: 0.5rem;
}
.navbar button {
  background: transparent;
  border: none;
  color: #ddd;
  font-size: calc(1rem + 2vmin);
  width: 3rem;
  padding: 0.3rem;
  margin-top: 5px;
  
}
.navbar button.item:hover{
  border-top: 2px solid #82ce85;
  margin-top:-2px;
  color: #9aa79b;
}
img {
  border-radius: 50%;
}
.navbar button.item:hover:before {
  background-color: #82ce85;
  bottom: 9px;
  content: '';
  display: block;
  height: 5px;
  position: relative;
  transform: rotate(
45deg);
  width: 5px;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
}

.arrow-up{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #82ce85;
  margin: 0 auto;
  margin-bottom: 1px;
}
.spinner {
  animation: spin infinite 3s linear;
  font-size: 6rem;
  margin-top: 2rem;
}

@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}
@media screen and (max-width: 700px) {
  .value-item {
    font-size: calc(.5rem + 4vmin);
  }
}